*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* css reset */

html {
	width: 100%;
	height: 100%;
	font-family: Roboto;
	--grey: rgb(104, 103, 103);
}

h1 {
	font-family: Playfair Display;
	font-weight: 500;
}

body {
	height: 100%;
	width: 100%;
}

.container {
	background-color: lightcoral;
	display: flex;
	flex-direction: column;
}

header {
	background: linear-gradient(
		155deg,
		rgb(111, 0, 255),
		rgba(115, 0, 255, 0.815) 45%,
		white 45%,
		white
	);
}

main {
	padding: 6rem 1.5rem;
	background-color: white;
}

.about-section {
	padding: 2rem 1rem;
	color: var(--grey);

	h1 {
		color: black;
	}
}

.about-me-img {
	width: 100vw;
	height: 400px;
	padding: 2rem;

	div {
		display: flex;
		justify-content: center;
		align-items: end;

		box-shadow: inset;
		box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);

		background-image: url(images/orca/orca1.jpg);
		background-size: cover;
		background-position: center;

		width: 100%;
		height: 100%;

		h1 {
			color: white;
			font-size: 2.5rem;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		}
	}
}

.mywork-section {
	background-color: white;
	display: grid;
	row-gap: 2rem;

	.project-container {
		box-shadow: 2.5px 2.5px 8px rgba(0, 0, 0, 0.3);
	}

	.screenshot {
		text-align: center;
		padding: 4rem 1rem;
		font-size: 1.6rem;
		background-color: lightcyan;
	}

	.project-name {
		padding: 1rem 2rem;
	}

	.project-description {
		font-size: 0.85rem;
		padding: 0 1.5rem 2.5rem 1.5rem;
	}
}

.contact-section {
	background-color: cornflowerblue;

	.contact-description {
		text-align: center;
		padding: 1.5rem 0.75rem 5rem 0.75rem;
	}

	.contact-img {
	}
}

.svg-link {
	display: flex;
	justify-content: center;
	a img {
		vertical-align: middle;
		display: inline-block;
	}
}

@media only screen and (min-width: 768px) {
	header {
		padding-top: 1.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		background: linear-gradient(
			170deg,
			rgb(111, 0, 255),
			rgba(115, 0, 255, 0.815) 45%,
			white 45%,
			white
		);

		.about-me-img {
			width: 400px;
			float: left;
			padding: 1rem;

			h1 {
				transform: translate(150%, -500%);
			}
		}

		.about-me {
			box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
			background-color: white;
			margin: 2rem 2rem;
			margin-top: 4rem;
			padding: 4rem 1rem;

			h1 {
				text-align: center;
				margin-bottom: 1rem;
			}
		}

		.svg-link {
			display: none;
		}
	}

	main {
		padding-top: 0rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.mywork-section {
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}

	footer {
		.contact-img {
			display: inline;
			width: 400px;
			height: 800px;
			float: right;
		}
	}
}
